{% extends 'profile/profile_base.html' %}

{% load static %}

{% block profile_styles %}
    <link rel='stylesheet' href="{% static 'css/profile/profile_page.css' %}">
{% endblock %}

{% block profile_content %}
    <div class="projects-list">
        {% for project in projects %}
            <div class="project container">
                <div class="title-project">
                    <a href="{{ project.get_absolute_url }}">{{ project.title }}</a>
                    <p>Manager:
                        <a href="{% url 'profile_user_url' slug=project.manager.username %}">{{ project.manager.username }}</a>
                    </p>
                </div>
                <div class="body-project">
                    <p class="par-project">Description:</p>
                    <p class="description-project">{{ project.description }}</p>
                </div>
                <div class="tasks-project">
                    {% for task in project.tasks.all %}
                        <div class="task-project {{ task.task_status }}">
                            <div class="task-name-project">
                                <a href="{{ task.get_absolute_url }}" class="task-one-project">
                                    # {{ task.title }}</a>
                            </div>
                            {% if task in request_user.tasks.all %}
                                <div class="settings add">
                                    <a href="{% url 'create_subtask_url' slug=task.slug %}">Add Subtask</a>
                                </div>
                                <div class="settings complete">
                                    <a href="{% url 'mark_task_complete' slug=task.slug %}">Completed</a>
                                </div>
                            {% endif %}
                            {% if project in request_user.manage_projects.all %}
                                <div class="settings delete">
                                    <a href="{% url 'edit_task_url' slug=task.slug %}">Edit</a>
                                </div>
                                <div class="settings cancel">
                                    <a href="{% url 'mark_task_canceled' slug=task.slug %}">Cancel</a>
                                </div>
                                <div class="settings complete">
                                    <a href="{% url 'mark_task_complete' slug=task.slug %}">Completed</a>
                                </div>
                                <div class="settings delete">
                                    <a href="{% url 'delete_task' slug=task.slug %}">Delete</a>
                                </div>
                            {% endif %}
                        </div>
                        {% if task in request_user.tasks.all %}
                            {% for subtask in task.subtasks.all %}
                                <div class="subtask-project {{ subtask.task_status }}">
                                    <div class="subtask-name-project">
                                        <a href="{{ subtask.get_absolute_url }}" class="task-one-project ">
                                            * {{ subtask.title }}
                                        </a>
                                        {% if task in request_user.tasks.all %}
                                            <div class="settings delete">
                                                <a href="{% url 'edit_subtask_url' slug=subtask.slug %}">Edit</a>
                                            </div>
                                            <div class="settings complete">
                                                <a href="{% url 'mark_subtask_complete' slug=subtask.slug %}">Completed</a>
                                            </div>
                                            <div class="settings delete">
                                                <a href="{{ subtask.get_delete_link }}">Delete</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    {% if project in request_user.manage_projects.all %}
                        <div class="task-project add">
                            <a href="{% url 'create_task_url' %}" class="add-task-project">Add Task</a>
                        </div>
                    {% endif %}
                </div>
                <div class="footer-project">
                    <a href="{{ project.get_absolute_url }}">Read more</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}