{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <title>Tasks.Here</title>
    <link rel='stylesheet' href="{% static 'css/base_page.css' %}">
    {% block style_page %}
        Don't load styles page
    {% endblock %}
</head>
<body>
<nav>
    <table class='nav_table'>
        <tr>
            <td class='nav_t_main'>
                <a href="{% url 'main_url' %}" class='url_td'>
                    <div class="table-cell-main">Tasks.Here</div>
                </a>
            </td>
            <td class='nav_t_td search'>
                <div class="top-search">
                    <form method="GET" action="{% url 'site_search_url' %}">
                        <input type="text" name="search" placeholder="Site search" class="field-search">
                        <input type="submit" name="btn_search" class="btn-search" value="Search" src="">
                    </form>
                </div>
            </td>
            <td class='nav_t_td'>
                <a href="{% url 'projects_url' %}" class='url_td'>
                    <div class="table-cell">Projects</div>
                </a>
            </td>
            <td class='nav_t_td'>
                <a href="{% url 'about_url' %}" class='url_td'>
                    <div class="table-cell">About</div>
                </a>
            </td>
            <td class='nav_t_td'>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'profile_url' %}" class='url_td'>
                        <div class="table-cell">Cabinet</div>
                    </a>
                {% else %}
                    <a href="{% url 'user_login_url' %}" class='url_td'>
                        <div class="table-cell">Enter</div>
                    </a>
                {% endif %}
            </td>
        </tr>
    </table>
</nav>


{% block body_page %}
    Don't load body of page<br><br>
{% endblock %}

<footer>
    Pivovar Sergey 2019<br>
    <a href='https://vk.com/hope_life_rip'>Connect with author</a>
</footer>
</body>
</html>