{% extends 'base_page.html' %}

{% load static %}

{% block style_page %}
    <link rel='stylesheet' href="{% static "css/search/search_page.css" %}">
{% endblock %}

{% block body_page %}
    <div align="center">
        <div class="body-page">
            <div class="top-search-field">
                <form action="{% url 'site_search_url' %}" method="GET">
                    <input type="text" name="search" class="top-field-search" value="{{ query }}"
                           placeholder="Site search">
                    <input type="submit" name="btn_search" class="top-btn-search" value="Search">
                </form>
            </div>
            {% for title, result in results.items %}
                <div class="decorate-block-results">
                    <div class="block-header">
                        <label>{{ title }}</label>
                    </div>
                    {% if result %}
                        {% for elem in result %}
                            <div class="element-result">
                                <a href="{{ elem.get_absolute_url }}">{{ elem }}</a>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="element-result">
                            No found result
                        </div>
                    {% endif %}
                    <div class="block-footer"></div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
