{% extends 'base_page.html' %}

{% load static %}

{% block style_page %}
    <link rel='stylesheet' href="{% static 'css/about/about_page.css' %}">
{% endblock %}

{% block body_page %}
    <div align="center">
        <div class="body-page">
            <h5>This project of student of BSUIR 2019.</h5>
        </div>
    </div>
{% endblock %}
