{% extends 'base_page.html' %}

{% load static %}

{% block style_page %}
{% endblock %}

{% block body_page %}
    <h2>A confirmation letter has been sent to {{ mail }}</h2>
    <h2>To activate your account, follow the link in the letter</h2>
{% endblock %}